<header class="masthead" style="margin-top: 20px;">
 <div class="row">
   <div class="col-5">
     <h2 class="text-muted d-none d-md-inline">
       <a href="status" style="text-decoration: none;">IEWS_CA</a>
     </h2>
     <h5 class="text-muted d-md-none">
       <a href="status" style="text-decoration: none;">IEWS_CA</a>
     </h5>
     <h6 style="font-size:14px; margin-bottom: 0">Immediate Earthquake Warning System</h6>
     <!--<h6 style="font-size:14px; margin-top: 0px">The best place to pass knowledge.</h6>-->
   </div>
   <div class="col-7" style="vertical-align: center">
     <div style="height: max-content; vertical-align: center">
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
               <a class="nav-link" href="status">Status</a>
           </li>
         </ul>
       </nav>
     </div>
   </div>
 </div>
</header>